@font-face {
    font-family: DinPro;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/DINPro-Regular.woff2) format("woff2");
}

@font-face {
    font-family: DinPro;
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/DINPro-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/Gilroy-Light.woff2) format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    src: url(assets/fonts/Gilroy-Extrabold.woff2) format("woff2");
}

@font-face {
    font-family: MyriadPro;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MyriadPro-Regular.woff2) format("woff2");
}
